@model Survey.Core.Models.ProjectCategory

@{
    ViewData["Title"] = "DeleteCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

        <div class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Projects</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item text-muted">
                                <a href="" class="text-muted">Manage</a>
                            </li>
                            <li class="breadcrumb-item text-muted">
                                <a href="/ProjectCategory"  class="text-muted">Programs or Clients</a>
                            </li>
                            <li class="breadcrumb-item text-muted">
                                <a href="" class="text-muted">Delete Program or Client</a>
                            </li>
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->
            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="row">
                    <div class=" col-lg-3"></div>
                    <div class="col-lg-6 center-block">
                        <div class="card card-custom gutter-b" style="background-color: #404040;" >


                            <div class="card-body d-flex align-items-center py-5 py-lg-15">
                                <!--begin::Icon-->
                                <!--<div class="d-flex flex-center position-relative ml-5 mr-15 ml-lg-9">
                                <span class="svg-icon svg-icon-danger svg-icon-3x">-->
                                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2021-04-21-040700/theme/demo4/dist/../src/media/svg/icons/Code/Warning-2.svg-->
                                <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z" fill="#000000" opacity="0.3" />
                                        <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1" />
                                        <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1" />
                                    </g>
                                </svg>-->
                                <!--end::Svg Icon-->
                                <!--</span>
                                </div>-->
                                <a class="btn btn-icon btn-light-danger pulse pulse-danger mr-5">
                                    <i class="flaticon2-information"></i>
                                    <span class="pulse-ring"></span>
                                </a>
                                <!--end::Icon-->
                                <!--begin::Description-->
                                <div class="m-0 text-white  font-size-md">
                                    <p class="mb-0"> Are you sure you want to delete the program or client? This action cannot be undone. </p>
                                </div>
                                <!--end::Description-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-3"></div>
                    <div class=" col-lg-6 center-block">
                        <!--begin::Card-->
                        <div class="card card-custom gutter-b example-compact">

                            <!--begin::Form-->
                            <form asp-action="DeleteCategory" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="card-body">
                                    <div class="form-group mb-8">
                                        <div class="card-header">
                                            <h4 class="card-label text-center" style="color: #CA0C39;font-weight:800;">
                                                Delete Program or Client
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Program or Client Name</label>
                                        <div class="col-lg-9">
                                            <input asp-for="Name" type="text" class="form-control" placeholder="Program or Client Name" readonly />
                                            <span asp-validation-for="Name" class="form-text text-muted"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-6 text-center">
                                            <form asp-action="DeleteCategory">
                                                <input type="hidden" asp-for="Id" />
                                                <input type="submit" value="Delete" class="btn btn-del mr-2" />
                                                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Card-->
                    </div>

                </div>
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->

</div>
<!--end::Wrapper-->
<style>
    .card.card-custom {
        box-shadow: 0px 0px 10px 0px rgb(82 63 105 / 18%);
        border: 0;
    }

    .pulse .pulse-ring {
        height: 43px;
        width: 43px;
        border-color: #CA0C39 !important;
    }


    .btn.btn-light-danger {
        color: #CA0C39;
        background-color: #00000000 !important;
        border-color: transparent;
    }


</style>