@using Survey.Core.Models
@model UserProjectCategory
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="pb-10">
        Enroll users
    </h3>


  @*  <form asp-controller="ProjectCategory" asp-action="EnrollUser" method="post">

        <div class="pb-10">
            @Html.DropDownListFor(m => m.UserId, Model.User, "Select one")
        </div> 
        <div class="pb-10">
            @Html.DropDownListFor(m => m.CategoryId, Model.Category, "Select one")
        </div>
    
        <button type="submit" class="btn btn-orange">Submit</button>
    </form>*@
</div>