@model SurveyResultsViewModel
@using Survey.Core.Constants
@using Survey.Core.ViewModels
@{
  Layout = "_ResultLayOut.cshtml";
}
<div class="col-lg-6 col-xl-10">
    <input type="hidden" value="@Model.FormId" id="formid"/>
    <!--begin::Dashboard-->
    <!--begin::Tables Widget 5-->
    <div class="card card-custom">
        <div style="box-shadow: 0 0 30px 0 #523f690d;" class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="">
                    Download
                    <span class="d-block text-muted pt-2 font-size-sm">Chose Options below: </span>
                </h3>

            </div>

        </div>
        <div class="card-body ">
            <div class="form-group">
                <label></label>
                <div></div>
                <form id="downloadForm">
                    <select class="custom-select col-lg-5 form-control " id="selectdownloadoption">
                        <option disabled selected="selected">Open this select menu</option>
                        @foreach (DownloadTypes day in Enum.GetValues(typeof(DownloadTypes)))
                        {
                            <option value="@Convert.ToInt64(day)">@Enum.GetName(day)</option>
                        }

                    </select>
                    <div class="pt-5">
                        <button class="btn btn-orange">Submit</button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
        <div class="card card-custom" style="margin-top: 20px">
            <div style="box-shadow: 0 0 30px 0 #523f690d" class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="">
                        Download History
                        <span class="d-block text-muted pt-2 font-size-sm"> Find all  Downloads below: </span>
                    </h3>
                </div>
                <!--<div class="card-toolbar">-->
                    <!--begin::Button-->
                    <!--<a class="btn btn-orange">
                        <i class="fa fa-plus"></i> New Downloads
                    </a>-->
                    <!--end::Button-->
                <!--</div>-->
            </div>
            <!--begin::Body-->
            <div class="card-body ">
             
                <div class="datatable datatable-default datatable-primary datatable-loaded">
                    <table class="display" id="example3" style="width:100%; overflow: auto;">
                        <thead class="datatable-head">
                            <tr class="datatable-row" style="left: 0px;">
                                <th data-field="Form Id" class="datatable-cell datatable-cell-sort"><span style="width: 347px;">#</span></th>
                                <th data-field="Date" class="datatable-cell datatable-cell-sort"><span style="width: 347px;">Date</span></th>
                                <th data-field="User" class="datatable-cell datatable-cell-sort"><span style="width: 347px;">User</span></th>
                                @* <th data-field="Type" class="datatable-cell datatable-cell-sort"><span style="width: 347px;">Type</span></th>*@
                                <th data-field="DownloadType" class="datatable-cell datatable-cell-sort"><span style="width: 347px;">Type</span></th>
                                <th data-field="Download" class="datatable-cell datatable-cell-sort"><span style="width: 347px;">Download</span></th>


                                @*                            <th data-field="Date" class="datatable-cell datatable-cell-sort"><span style="width: 347px;">Format</span></th>
                                *@
                            </tr>
                        </thead>
                        <tbody style="" class="datatable-body" id="tablebody">
                            @for (int i = 0; i < Model.Downloads.Count; i++)
                            {
                                <partial name="NewDownload" model="Model.Downloads[i]"/>
                            }
                        </tbody>
                    </table>
                    <!--<div class="datatable-pager datatable-paging-loaded">
                        <ul class="datatable-pager-nav my-2 mb-sm-0">
                            <li><a title="First" class="datatable-pager-link datatable-pager-link-first datatable-pager-link-disabled" data-page="1" disabled="disabled"><i class="flaticon2-fast-back"></i></a></li>
                            <li><a title="Previous" class="datatable-pager-link datatable-pager-link-prev datatable-pager-link-disabled" data-page="1" disabled="disabled"><i class="flaticon2-back"></i></a></li>
                            <li style="display: none;"><input type="text" class="datatable-pager-input form-control" title="Page number"></li>
                            <li><a class="datatable-pager-link datatable-pager-link-number datatable-pager-link-active" data-page="1" title="1">1</a></li>
                            <li><a title="Next" class="datatable-pager-link datatable-pager-link-next datatable-pager-link-disabled" data-page="1" disabled="disabled"><i class="flaticon2-next"></i></a></li>
                            <li><a title="Last" class="datatable-pager-link datatable-pager-link-last datatable-pager-link-disabled" data-page="1" disabled="disabled"><i class="flaticon2-fast-next"></i></a></li>
                        </ul>
                        <div class="datatable-pager-info my-2 mb-sm-0">-->
                       @*     <div class="dropdown bootstrap-select datatable-pager-size" style="width: 60px;">
                                <select class="selectpicker datatable-pager-size" title="Select page size" data-width="60px" data-container="body" data-selected="10">
                                    <option class="bs-title-option" value=""></option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                <button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false" title="Select page size">
                                    <div class="filter-option">
                                        <div class="filter-option-inner">
                                            <div class="filter-option-inner-inner">10</div>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu ">
                                    <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1">
                                        <ul class="dropdown-menu inner show" role="presentation"></ul>
                                    </div>
                                </div>
                            </div>*@
                            <!--<span class="datatable-pager-detail">Showing 1 - 1 of 1</span>
                        </div>
                    </div>-->
                </div>
                <!--end::Search Form-->
                <!--end: Search Form-->
                <!--begin: Datatable-->
            </div>
            <!--end::Entry-->
        </div>
        <!--end::Content-->
    </div>
<script src="~/js/SurveyResults/Downloads.js"></script>
