@using Survey.Core.ViewModels
@model SurveyResultsViewModel

@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="/css/MapResultCSS.css" />

<input type="hidden" value="@Model.FormId" asp-for="FormId" id="formIdInput" />
<div class="col-lg-6 col-xl-10" style="height:500px">
    <div id="map"></div>
</div>


<script src="~/js/SurveyResults/Map.js"></script>

