@using Microsoft.AspNetCore.Identity
@using Survey.Core.ViewModels
@model ChangePassword
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="p-5">
        Change Password
    </h4>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="ChangePassword" method="post">
        <div class="form-group col-lg-5">
            <input asp-for="UserId" hidden="" />
        </div>
        <div class="form-group col-lg-5">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" type="password" class="form-control" />
        </div>
        <div class="form-group col-lg-5">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
        </div>
        <div class="col-lg-5">
            <button type="submit" class="btn btn-orange">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>

    </form>

</div>