@using Survey.Core.ViewModels
@model UsersViewModel
@{
    ViewData["Title"] = "Import User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" asp-controller="Users" asp-action="ExportUser">
    <input type="submit" class="form-control file btn-info" value="Export Default Excel" />
</form>
<form enctype="multipart/form-data" method="post" asp-controller="Users" asp-action="ImportExcelFile">
    
        
            <label>Upload Excel:</label>
     
            <input type="file" name="FormFile" class="file " id="FormFile">

    <input type="submit" class="form-control file btn btn-success" value="Upload" />
</form>
<br />
<div class="">
    <!--Show Message if file is uploaded or not-->
    @ViewBag.Message
</div>