@using Survey.Core.ViewModels
@model UsersViewModel
@{
    ViewData["Title"] = "Import User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" asp-controller="Users" asp-action="ExportUser">
    <input type="submit" class="form-control file btn-orange" value="Export Default Excel" />
</form>
<form enctype="multipart/form-data" method="post" asp-controller="Users" asp-action="ImportExcelFile">
    <dl>
        <dt>
            <label>Upload Excel:</label>
        </dt>
        <dd>
            <input type="file" name="FormFile" class="form-control file btn-orange" id="FormFile">

        </dd>
    </dl>
    <input class="btn" type="submit" class="form-control file btn-orange" value="Upload" />
</form>
<br />
<div class="">
    <!--Show Message if file is uploaded or not-->
    @ViewBag.Message
</div>