@using Microsoft.EntityFrameworkCore
@using Survey.Core.Models
@model Survey.Core.ViewModels.ProjectViewModel
@inject Survey.Infrastructure.Data.ApplicationDbContext db
@{
    ViewData["Title"] = "UpdateProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<ProjectCategory> issuers1 = db.ProjectCategories.Include(c => c.Childs).Where(x => x.ParentID == null).ToList();

}

<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">


        <!--begin::Subheader-->
        <div class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Projects</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item text-muted">
                                <a href="" class="text-muted">Manage</a>
                            </li>
                            <li class="breadcrumb-item text-muted">
                                <a href="/Project" class="text-muted">Projects or Activities</a>
                            </li>
                            <li class="breadcrumb-item text-muted">
                                <a class="text-muted">Update project or activity</a>
                            </li>
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->
            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="row">
                    <div class=" col-lg-2"></div>
                    <div class="col-lg-8 center-block">
                        <div class="card card-custom gutter-b" style="background-color:#404040;">
                            <div class="card-body d-flex align-items-center py-5 py-lg-15">
                                <!--begin::Icon-->
                                <div class="d-flex flex-center position-relative ml-5 mr-15 ml-lg-9 pulse-danger pulse">
                                    <span class="svg-icon svg-icon-5x svg-icon-orange position-absolute opacity-15">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-polygon.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="70px" viewBox="0 0 70 70" fill="none">
                                            <g stroke="none" stroke-width="1" fill-rule="evenodd">
                                                <path d="M28 4.04145C32.3316 1.54059 37.6684 1.54059 42 4.04145L58.3109 13.4585C62.6425 15.9594 65.3109 20.5812 65.3109 25.5829V44.4171C65.3109 49.4188 62.6425 54.0406 58.3109 56.5415L42 65.9585C37.6684 68.4594 32.3316 68.4594 28 65.9585L11.6891 56.5415C7.3575 54.0406 4.68911 49.4188 4.68911 44.4171V25.5829C4.68911 20.5812 7.3575 15.9594 11.6891 13.4585L28 4.04145Z" fill="#000000" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="svg-icon svg-icon-orange svg-icon-2x">
                                        <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2021-04-21-040700/theme/demo1/dist/../src/media/svg/icons/Code/Info-circle.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
                                                <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>
                                    <span class="pulse-ring"></span>
                                </div>
                                <!--end::Icon-->
                                <!--begin::Description-->
                                <div class="m-0  font-size-md">
                                    <p class="mb-0" style="color:#F7F7F7;">In this page you can update your project's or activity's general details.</p>
                                </div>
                                <!--end::Description-->
                            </div>
                        </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class=" col-lg-2"></div>
                            <div class=" col-lg-8 center-block">
                                <!--begin::Card-->
                                <div class="card card-custom gutter-b example-compact">

                                    <!--begin::Form-->
                                    <form asp-action="UpdateProject" method="post" enctype="multipart/form-data">
                                        <input asp-for="Project.Id" hidden="" />
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="card-body">
                                            <div class="form-group mb-8">
                                                <div class="card-header">
                                                    <h4 class="card-label text-center" style="color: #ED7D31;font-weight:800;">
                                                        Update project or activity
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Project or Activity Title</label>
                                                <div class="col-lg-9">
                                                    <input asp-for="Project.Title" type="text" class="form-control" placeholder="Project Title" />
                                                    <span asp-validation-for="Project.Title" class="form-text text-muted"></span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label" for="exampleSelect1">Select Program or Client</label>
                                                <div class="col-lg-9">
                                            <select asp-for="Project.ProjectCategoryId" class="form-control selectpicker " id="exampleSelect1" data-live-search="true">
                                                <option disabled selected>--Select Category--</option>
                                                @foreach (var item in PreorderCategories())
                                                {
                                                    <option value="@item.Item1">@item.Item2</option>
                                                }
                                            </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Project or Activity Code</label>
                                                <div class="col-lg-9">
                                                    <input asp-for="Project.Code" type="text" class="form-control" placeholder="Project Code" />
                                                    <span asp-validation-for="Project.Code" class="form-text text-muted"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-6 text-center">
                                                    <input type="submit" value="Update" class="btn btn-orange mr-2" />
                                                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!--end::Form-->
                                </div>
                                <!--end::Card-->
                            </div>
                            <div class=" col-lg-2"></div>
                        </div>
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
    <!--end::Content-->

</div>
<!--end::Wrapper-->
@functions
{
    List<Tuple<int, string>> PreorderCategories()
    {
        return PreorderCategories("", db.ProjectCategories.ToList(), null);
    }
    List<Tuple<int, string>> PreorderCategories(string prefix, List<ProjectCategory> categories, int? parentID)
    {
        var result = new List<Tuple<int, string>>();
        var children = categories.Where(c => c.ParentID == parentID);
        foreach (var category in children)
        {
            result.Add(new Tuple<int, string>(category.Id, prefix + category.Name));
            result.AddRange(PreorderCategories(prefix + "-", categories, category.Id));
        }
        return result;
    }
}

<style>
    .card.card-custom {
        box-shadow: 0px 0px 10px 0px rgb(82 63 105 / 18%);
        border: 0;
    }

    .form-control:focus {
        border-color: #ED7D31 !important;
    }

    .bootstrap-select.show > .dropdown-toggle.btn-light, .bootstrap-select.show > .dropdown-toggle.btn-secondary {
        border-color: #ED7D31 !important;
    }
</style>