@using Survey.Infrastructure.Utility
@{
    ViewData["Title"] = "Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h3 class="text-dark font-weight-bold my-1 mr-5"> Email was send succesfully! </h3>
                        <!--end::Page Title-->
                    </div>
                    @*<input type="hidden" value="@Model.formid" asp-for="formid" />*@
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->
            </div>
        </div>
        <!--end::Subheader-->
    </div>
    <!--end::Content-->

</div>